<div class="row">
<p><h4>Lag en date</h4>
	<div class="panel panel-default">
	  <div class="panel-body">
<div class="row">
  <div class="col-sm-3">
  	<div class="form-group">
  <label class="control-label" for="focusedInput">Hva skal vi diskutere?</label>
  <input class="form-control" id="focusedInput" type="text" placeholder="Tema" ng-model="datepost.message">
</div>
  </div>

  <div class="col-sm-3">
  	<div class="form-group">
  <label class="control-label" for="focusedInput">Hvor skal vi?</label>
  <input class="form-control" id="focusedInput" type="text" placeholder="Sted" ng-model="datepost.location">
</div>
  </div>

  <div class="col-sm-3">
  <form name="timepickerForm" role="form">
	  	<div class="form-group" ng-class="{'has-error': timepickerForm.time2.$invalid}">
	    <label class="control-label">Når skal vi?</label>
	    <input type="text" placeholder="12:00" class="form-control" size="5" ng-model="datepost.datetime" data-time-format="HH:mm" data-time-type="iso" data-autoclose="1" name="time2" bs-timepicker>
	  	</div>
  </form>
  </div>

  <div class="col-sm-3"><button ng-click="addPost()" class="btn btn-primary btn-lg" style="margin-top: 15px">Send inn</a>
</div>

</div>
	  </div>
	</div>
<div ng-repeat="datepost in dateposts | filter:search">
<div class="panel panel-default">
  <div class="panel-body">
  	<div class="row">
	  <div class="col-sm-4">
	  <div class="row"></div>
	 	<a ng-href="{{ '/#/user/' + datepost.poster._id }}">
	  	<img ng-src="{{facebookProfilePic(datepost.poster.facebookid)}}"></a>
	  </div>

	  <div class="col-sm-3">
	  	<div class="row verticalAlign"><h5>Snakketags</h5></div>
	  	<div class="row">
	  	{{datepost.message}}</div>
	  </div>

	  <div class="col-sm-3">
	  	<div class="row verticalAlign"><h5>Sted</h5></div>
	  	<div class="row">
	  	{{datepost.location}}</div>
	  	</div>

	  <div class="col-sm-2">
	  	<div class="row verticalAlign"><h5>Tid</h5></div>
	  	<div class="row">{{timeOffset(datepost.datetime)}}</div>
	  </div>
	</div>
	<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-4"><h5>{{datepost.poster.firstname}}</h5></div>
	<div class="col-sm-4"></div>
	<div class="col-sm-3"></div>
	</div>
  </div>
</div>
</div>	
</div>
