<div class="row">
<p><h4>Lag en date</h4>
	<div class="panel panel-default">
	  <div class="panel-body">
<div class="row">
  <div class="col-md-3">
  	<div class="form-group">
  <label class="control-label" for="focusedInput">Hva skal vi diskutere?</label>
  <input class="form-control" id="focusedInput" type="text" placeholder="Båter, matte, livet...">
</div>
  </div>
  <div class="col-md-3">
  	<div class="form-group">
  <label class="control-label" for="focusedInput">Hvor skal vi?</label>
  <input class="form-control" id="focusedInput" type="text" placeholder="Sted">
</div>
  </div>
  <div class="col-md-3">.col-md-1</div>
  <div class="col-md-3">.col-md-1</div>

</div>
	  </div>
	</div>
</div>