<span ng-show="showSpinner" us-spinner>

</span>

<div class="row" ng-show="showForm">
    <p><h4>Lag en date</h4>

    <div class="panel panel-default">
        <div class="panel-body">
            <form name="postForm" ng-submit="addPost(postForm.$valid)" novalidate>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group" ng-class="{ 'has-success' : postForm.message.$valid  }">
                            <label class="control-label" for="focusedInput">Hva skal vi diskutere?</label>
                            <input class="form-control" type="text" placeholder="Tema"
                                   ng-model="datepost.message" required
                                   ng-minlength="3" ng-maxlength="16" name="message">
                        </div>
                        <p ng-show="postForm.message.$error.minlength" class="help-block">Minst 3 bokstaver.</p>

                        <p ng-show="postForm.message.$error.maxlength" class="help-block">Maks 16 bokstaver.</p>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group" ng-class="{ 'has-success' : postForm.location.$valid }">
                            <label class="control-label" for="focusedInput">Hvor skal vi?</label>
                            <input class="form-control" id="focusedInput" type="text" placeholder="Sted"
                                   ng-model="datepost.location" ng-minlength="3" ng-maxlength="16" required
                                   name="location">
                        </div>
                        <p ng-show="postForm.location.$error.minlength" class="help-block">Minst 3 bokstaver.</p>

                        <p ng-show="postForm.location.$error.maxlength" class="help-block">Maks 16 bokstaver.</p>
                    </div>

                    <div class="col-sm-3">
                        <form name="timepickerForm" role="form">
                            <div class="form-group"
                                 ng-class="{'has-error': postForm.time2.$invalid && !postForm.time2.$pristine, 'has-success': postForm.time2.$valid}">
                                <label class="control-label">Når skal vi?</label>
                                <input type="text" placeholder="12:00" class="form-control" size="5"
                                       ng-model="datepost.datetime" data-time-format="HH:mm" data-time-type="number"
                                       data-min-time="now" name="time2" bs-timepicker required>
                            </div>
                        </form>
                        <p ng-show="postForm.time2.$invalid && !postForm.time2.$pristine" class="help-block">Må være et
                            tidspunkt etter nå og før 23:59.</p>

                    </div>
                    <div class="col-sm-3">
                        <button type="submit"
                                ng-class="{ 'btn btn-success' : postForm.$valid, 'btn btn-primary' : postForm.$invalid}"
                                style="margin-top: 20px"
                                ng-disabled="postForm.$invalid">Lag datepost!
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<div ng-if="dateposts">
<div ng-repeat="datepost in dateposts | orderBy: 'datetime'" class="jumbotron">
    <div class="row">
        <div class="col-sm-4" style="text-align: center"><img width="150" ng-src="{{facebookProfilePic(datepost.poster.facebookid)}}">
        </div>
        <div class="col-sm-3" style="margin-top:50px"><h5>Tema</h5></div>
        <div class="col-sm-3" style="margin-top:50px"><h5>Sted</h5></div>
        <div class="col-sm-2" style="margin-top:50px"><h5>Tid</h5></div>
    </div>

    <div class="row">
        <div class="col-sm-4" style="text-align: center"><h5>{{datepost.poster.firstname}}</h5></div>
        <div class="col-sm-3"><h6>{{datepost.message}}</h6></div>
        <div class="col-sm-3"><h6>{{datepost.location}}</h6></div>
        <div class="col-sm-2"><h6>{{timeOffset(datepost.datetime)}}</h6></div>
         <div class="col-sm-2" ng-if="showRequestButton(datepost.poster._id) && !userHasSentReq(datepost)">
          <button class="btn btn-success" type="submit"
            ng-click="sendRequest(datepost)">Send!</button>


      </div>
    </div>

</div></div>
