<div class="row">
<div class="jumbotron" ng-cloak>
  <h1>Hei hei!</h1>
  <p class="lead">
    <img height="100" src="images/kaffedate.png"><br>
    <p>
    Velkommen til Kaffedate. Finn en date da vel!
    </p>
  </p>
  <p><a class="btn btn-lg btn-primary" ng-href="http://localhost:3000/auth/facebook">Logg inn <img height="30" src="images/facebook-icon.png"></span></a></p>
  </div>
</div>

<!-- <div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
-->