


<div class="panel panel-default" ng-show="profileIsLoaded">
  <div class="panel-body">
    <div class="row">
    <div class="col-sm-4"><img width="220" ng-src="{{facebookPhoto}}" class="img-rounded"></div>
    <div class="col-sm-8">
    	<p><h4>{{user.firstname +' ' + user.lastname}}</h4></p>
    	<span ng-dblclick="changeBio()">{{user.bio}}</span>

  <form class="form-horizontal">
   <div ng-hide="hasBio">
    <div class="form-group">
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="textArea" ng-model="newbio" placeholder="Hvem er du {{user.firstname}}?"></textarea>
        <span class="help-block">Skriv litt om deg selv. Hva liker du? Hva synes du er spennende?</span>
      </div>
    </div>
    </form>
      <div class="col-lg-10">
        <button type="submit" class="btn btn-primary" ng-click="setNewBio()">Lagre</button>
      </div>
      </div>
    </div>
    </div>
</form>
    </div>
</div>
  </div>
</div>
<div ng-show="activePost">
<h5> Du har en aktiv datepost </h5>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
        <div class="col-sm-3">
        <div class="row"></div>
          <img width="150" ng-src="{{facebookPhoto}}">
        </div>

        <div class="col-sm-3">
          <div class="row verticalAlign"><h5>Snakketags</h5></div>
          <div class="row">
          {{activePost.message}}</div>
        </div>

        <div class="col-sm-2">
          <div class="row verticalAlign"><h5>Sted</h5></div>
          <div class="row">
          {{activePost.location}}</div>
          </div>

        <div class="col-sm-2">
          <div class="row verticalAlign"><h5>Tid</h5></div>
          <div class="row">{{timeOffset(activePost.datetime)}}</div>
        </div>

        <div class="col-sm-2 verticalAlign"><h5></h5>
          <button class="btn btn-danger" style="margin-top: 10px"ng-click="deleteDatePost(activePost._id)">Slett</button>
        </div>
      </div>
      <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-4"></div>
      <div class="col-sm-3"></div>
      </div>
      </div>
      <div class="panel-footer" ng-repeat="requester in activePost.requests">
      <div class="row">
      <div class="col-sm-3"><img width="150" ng-src="{{facebookProfilePic(requester.facebookid)}}"></div>
      <div class="col-sm-2 verticalAlign">{{requester.firstname}}</div>
      <div class="col-sm-4 verticalAlign">{{requester.bio}}</div>
      <div class="col-sm-2">      
      <div class="col-sm-4">
        <button class="btn btn-success" ng-click="acceptRequest(requester._id, activePost._id)">Godkjenn</button>
        {{}}

      </div>

      </div>
      </div>
    </div>
    </div>
</div>
<span ng-show="showSpinner" us-spinner>
